<section class="flex h-96 w-full pt-64 justify-center">
  <article
    class="flex rounded-md h-full w-3/4 bg-secondary text-center items-center justify-center"
  >
    <div>Projects</div>
  </article>
</section>
