<section class="flex flex-col pt-48 text-center gap-4 items-center px-8">
  <h1 class="text-8xl">Juan Alcaraz Pieters</h1>
  <h2 class="text-2xl w-1/2 text-pretty">
    Ingeniero del software en Valencia, España. Trabajando actualmente.
  </h2>
  <div class="flex flex-row gap-2"></div>
</section>
